In [47]:
import pandas as pd
df = pd.read_csv('movies_dataset.csv')
df.head()

,Movie name,Description,Genre
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"Drama, Crime"
3,Schindler's List,The true story of how businessman Oskar Schind...,"Drama, History, War"
4,12 Angry Men,The defense and the prosecution have rested an...,Drama

## 1. Make the columns into lower case

In [48]:
df['Description'] = df['Description'].str.lower()

In [49]:
df.head()

,Movie name,Description,Genre
0,The Shawshank Redemption,imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,"spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,The Godfather Part II,in the continuing saga of the corleone crime f...,"Drama, Crime"
3,Schindler's List,the true story of how businessman oskar schind...,"Drama, History, War"
4,12 Angry Men,the defense and the prosecution have rested an...,Drama

## 2. Remove HTML Tags and Remove URLs

In [50]:
import re

# Precompile regex patterns
TAG_RE = re.compile(r'</?[A-Za-z][A-Za-z0-9-]*\b[^>]*>')
URL_RE = re.compile(r'https?://\S+|www\.\S+')

def clean_text(text):
    if not isinstance(text, str):
        return text   # skip if not string
    
    # Remove HTML tags
    no_html = TAG_RE.sub('', text)
    
    # Remove URLs
    no_url = URL_RE.sub('', no_html)
    
    return no_url.strip()

In [51]:
df['Description'] = df['Description'].apply(clean_text)

In [52]:
df.head()

,Movie name,Description,Genre
0,The Shawshank Redemption,imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,"spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,The Godfather Part II,in the continuing saga of the corleone crime f...,"Drama, Crime"
3,Schindler's List,the true story of how businessman oskar schind...,"Drama, History, War"
4,12 Angry Men,the defense and the prosecution have rested an...,Drama

## 3. Remove Punctuations